/* Комбінація класів */
/* text ТА lesson */
/*
.text,
.lesson{
	color: red;
}
*/
/* text ТА lesson ОДНОЧАСНО!!! */
/*
.text.lesson{
	color: red;
}
*/

/* Вкладеність класів */
/*
.text .lesson {
	color: red;
}
*/

/* -------- ПРІОРИТЕТ СЕЛЕКТОРІВ ------------ */
/*
Основні правила формування пріоритетів: 
1) У випадку рівнозначних селекторів більший 
пріоритет буде у останього по коду.
2) Більший пріоритет завжди буде у селектора,
який звужує (уточює, конкретизує) пошук (запит).
3) Пріоритет у рядкових (inline) стилів (атрибут style="") вищий ніж у стилів з окремого файлу (наприклад style.css)
4) Флаг !important перезаписує пріоритет (не рекомендується)
*/

/* ==================== */
/*
../ - вийти з папки на один рівень вище
*/
/* ======================= */


/* ====================== ШРИФТИ =============================== */



/*--------- Підключення шрифтів через googlefonts https://fonts.google.com/ ---------------- */

@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
/* Далі додано шрифт Roboto до тих що підключали взимку */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Підключення шрифтів з файлів в форматфх .woff2 та .woff, попередньо скачаних в форматі.ttf і трансфомованих через сайт https://transfonter.org/ (від недвавнього часу працює тільки через vpn або через https://anyconv.com/woff-converter/)  */

/* так не варто робити, але в цілях тренування підключаю шрифт ще і скачаний з сайту https://fonts.google.com/ та трасформований до форматів .woff2 та .woff */

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-RegularItalic.woff2") format("woff2"), url("../fonts/Roboto-RegularItalic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-BookItalic.woff2") format("woff2"),
		url("../fonts/CircularStd-BookItalic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* calibri font adding */
@font-face {
	font-family: "Calibri";
	src: url("../fonts/Calibri-Light.woff2") format("woff2"), url("../fonts/Calibri-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Calibri";
	src: url("../fonts/Calibri-LightItalic.woff2") format("woff2"),
		url("../fonts/Calibri-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Calibri";
	src: url("../fonts/Calibri.woff2") format("woff2"), url("../fonts/Calibri.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Calibri";
	src: url("../fonts/Calibri-Italic.woff2") format("woff2"), url("../fonts/Calibri-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Calibri";
	src: url("../fonts/Calibri-Bold.woff2") format("woff2"), url("../fonts/Calibri-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Calibri";
	src: url("../fonts/Calibri-BoldItalic.woff2") format("woff2"), url("../fonts/Calibri-BoldItalic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

body {
	font-family: "Calibri", sans-serif;
	font-size: 20px;
	margin-left: 20px;
}

.text {
	line-height: 1.7;
	text-indent: 30px;
}
/* додаток стилів кольору */
h1 {
	font-family: "Calibri";
	font-size: 45px;
	font-weight: 900;
	color: rgb(38, 12, 134);
	text-decoration: underline;
	text-align: center;
	text-shadow: 10px 10px 30px rgb(131, 73, 207), 5px 2px 10px rgb(10, 3, 3);
	letter-spacing: 10px;
}
h2 {
	font-family: "Calibri";
	font-size: 30px;
	font-weight: 700;
	text-shadow: 10px 10px 30px rgb(202, 17, 17), 5px 2px 10px rgb(10, 3, 3);
	color: rgb(120, 105, 185);
	word-spacing: 20px;
}
h3 {
	font-family: "Calibri";
	font-size: 20px;
	color: darkgreen;
	font-weight: 700;
	text-decoration: underline;
}
/* підключення шрифту робото з стилем italic, щоб візуально його краще було видно */
#section4_1 {
	font-family: "Roboto";
	font-style: italic;
	font-size: 15px;
	font-weight: 400;
	color: rgb(120, 105, 185);
	word-spacing: 20px;
}
.newcolor {
	font-family: "Calibri";
	background-color: rgb(149, 240, 166);
	font-weight: bold;
}
p {
	background-color: rgb(236, 248, 239);
	color: red;
}
span {
	/* Обратились ко ВСЕМ тегам SPAN на странице */
	color: rgb(2, 44, 2);
	text-decoration: underline;
}
.spann1 {
	color: rgb(17, 0, 255);
}
.text {
	color: red;
	color: rgb(0, 17, 255);
}
.paragraph {
	font-size: 20px;
}

#section {
	color: rgb(145, 8, 15);
}

div {
	color: red;
}
div.conteiner {
	text-align: center;
}
/* Селектор ID - самый приоритетный */
#n1 {
	color: hotpink;
}
p {
	color: red;
}

.name.paragraph {
	color: green;
}
.name1 {
	color: red;
}

p span {
	color: green;
}
span {
	color: red;
}
#id {
	color: rgb(1, 34, 1);
}
#section4 ~ p{
	color: green
}
#section5 + p {
	color: red;
}
.section > p {
	color: red;
}
ul.list > li {
	color: red;
}

.link {
	color: rgb(127, 61, 235);
}

/* ================ Свойства шрифта (Наследуются потомками) ==================== */

/*
font-family: "Имя шрифта", "Имя шрифта", ...,  тип шрифта
Устанавливает семейство шрифта

Если название шрифта состоит из 2х и более слов
заключаем название в кавычки

Типы шрифта:
serif — шрифты с засечками (антиквенные), типа Times;
sans-serif — рубленные шрифты (шрифты без засечек или гротески), 
типичный представитель — Arial;
cursive — курсивные шрифты;
fantasy — декоративные шрифты;
monospace — моноширинные шрифты, ширина каждого символа 
в таком семействе одинакова (шрифт Courier).
*/

/*
font-size
Определяет размер шрифта элемента.
По умолчанию 16px
*/

/*
font-style:
Определяет начертание шрифта — обычное, курсивное или наклонное.
normal - Обычное начертание текста.
italic - Курсивное начертание. 
oblique - Наклонное начертание. Курсив и наклонный 
шрифт при всей их похожести не одно и то же. 
Курсив это специальный шрифт имитирующий рукописный, 
наклонный же образуется путем наклона обычных знаков вправо. 
*/

/*
font-weight:
Устанавливает насыщенность шрифта.
100 - thin
300 - Light
400 - normal
500 - medium
600 - semibold
700 - bold
900 - black
*/

/* =================== Свойства текста ===================================== */

/*
color (наследуется)
Определяет цвет текста. Для задания цветов обычно 
используются числа в шестнадцатеричном коде, 
либо с помощью RGB.
*/

/* .text {
color: #f03e3e;
} */

/*
text-align (наследуется)
Определяет горизонтальное выравнивание текста и строчный объектов
в пределах элемента. 
center - Выравнивание текста по центру.
justify - Выравнивание по ширине, что означает 
одновременное выравнивание по левому и правому краю. 
Чтобы произвести это действие браузер в этом случае 
добавляет пробелы между словами.
left - Выравнивание текста по левому краю. 
right - Выравнивание текста по правому краю.
*/

/* .text {
/* text-align: center; */
/* }*/

/* .block {
/* text-align: center; */
/* } */

/*
text-decoration (наследуется)
Добавляет оформление текста в виде его подчеркивания, 
перечеркивания, линии над текстом и мигания. 
Одновременно можно применить более одного стиля, перечисляя значения через пробел. Это свойство наследуется и может принимать значения:
line-through - Создает перечеркнутый текст.
overline - Линия проходит над текстом.
underline - Устанавливает подчеркнутый текст. 
none - Отменяет все эффекты, в том числе и подчеркивания у ссылок, которое задано по умолчанию.
*/

/* .text {
/* text-decoration: underline; */
/* } */

/*

text-shadow: горизонтальное_смещение вертикальное_смещение размер цвет;
(наследуется)
Добавляет тень к тексту.
Прмер text-shadow: 1px 1px 1px #000;
*/

/* .text {
/* text-shadow: 10px 10px 30px rgb(202, 17, 17), 5px 2px 10px rgb(10, 3, 3); */
/* } */

/*

text-transform (наследуется)
Управляет преобразованием текста в заглавные или прописные символы.
capitalize  - Первый символ каждого слова в предложении будет заглавным. Остальные символы свой вид не меняют.
lowercase - Все символы текста становятся строчными (нижний регистр). 
uppercase - Все символы текста становятся прописными (верхний регистр).
none - Не меняет регистр символов.
*/

/* .text {
	/* text-decoration: line-through; */
/* } */

/* .link-menu {
	/* text-transform: uppercase; */
/* } */

/*
line-height (наследуется)
Устанавливает межстрочный интервал текста. 
Широко применяется при верстке текста.
*/

/* 
Если в макете указаны px делим это значение 
на размер шрифта этого объекта и указываем через точку без единиц
*/

/* .text {
/* line-height: 1.5; */
/* } */

/*
text-indent
Устанавливает величину отступа первой строки блока текста. При меняется, если нам нужно создать что-то типа красной строки.

letter-spacing
Определяет интервал между символами (буквами). Используется когда нужно разрядить текст.

white-space
Управляет свойствами пробелов между словами. Применяется в основном со значением 
nowrap которое запрещает перенос строки. Таким образом весь текст отображается в одну строку и не ломается. Значение normal вернет все как было.

word-spacing
Устанавливает интервал между словами.
*/

/* .text {
	/* text-indent: 25px; */
/* letter-spacing: 10px; */
/* word-spacing: 20px; */
/* white-space: nowrap; */
/* } */






/* -------- CSS-властивості шрифтів ------------ */



/* -------- CSS-властивості тексту ------------ */

